
<div class="head"><h1>{{pageTitle}}</h1>

</div>
<div class="b1">Click on the button on which you want to navigate</div>
<div class="çontent">
 <div class="i1"> <br><input id="b1" type="button" onclick="location.href='http://google.com';" value="Go to Google" /><br><br><br></div>
  <div class="i2"> <input id="b2"type="button" onclick="location.href='http://facebook.com';" value="Go to FacebookPage" /><br><br><br></div>
    <div class="i3"><input id="b3"type="button" onclick="location.href='http://Linkedin.com';" value="Go to LinkedIn" /><br><br><br></div>
      <div class="i4"><input id="b4"type="button" onclick="location.href='http://cricbuzz.com';" value="Go to cricbuzz" /><br><br><br></div>

</div>
